td.cur {
  font-size:14px;
}
div.cur_b {
  width:100%; height:10px;  
  border:solid 2px black;
  border-color:black transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  border-bottom-width: 0px !important;
  font-size:18px;
}
div.cur_w {
  width:100%; height:10px;  
  border:solid 2px white;
  border-color:white transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  border-bottom-width: 0px !important;
  font-size:18px;
}

table.nt {
border: 0px solid blue;
border-collapse: separate;
border-spacing: 0 0px;
padding-bottom:10px;  /* margin between note and lyrics */
/*font-family: assigned by javascript*/
/*font-size: 26px; assigned by javascript*/
font-weight: normal;
}

td {
border: 0px solid red;
line-height: 15px;
text-align:center;
border-spacing: 0px;
padding: 0px;
vertical-align:top;
}

/*td.sp2 {
font-size: 8px;
min-width: 8px;
}*/

td.sp4 {
width: 10px;
}

div {
border: 0px solid green;
min-width: 10px;
}

.hi {
height:12px;
line-height: 0px;
vertical-align:bottom;
}
.lo {
border:0px solid red;
height:0px;
line-height: 0px;
vertical-align:bottom;
}

.n {
height: 20px;
line-height: 20px;
vertical-align:bottom;
min-width:25px;
}

/* for # and b */
.nsharp, .nflat {
height: 20px;
line-height: 20px;
vertical-align:bottom;
font-size: 18px;
border:0px solid blue;
font-family: arial;
width:4px;
}
.nflat {
position:relative;
right:4px;
}



.dot {
height: 20px;
line-height: 18px;
vertical-align:bottom;
}
.t4 {
height: 0px;
vertical-align:bottom;
border-top: 0px solid white;
border-bottom: 0px solid white;
}
.t8_b {
height: 0px;
vertical-align:bottom;
border-top: 2px solid black;
border-bottom: 0px solid black;
}
.t8_w {
height: 0px;
vertical-align:bottom;
border-top: 2px solid white;
border-bottom: 0px solid white;
}
.t16_b {
height: 2px;
vertical-align:bottom;
border-top: 2px solid black;
border-bottom: 2px solid black;
}
.t16_w {
height: 2px;
vertical-align:bottom;
border-top: 2px solid white;
border-bottom: 2px solid white;
}


.bar_b {
margin-top:2px;
margin-left:7px;
margin-right:5px;
border-left: 2px solid black;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.bar_w {
margin-top:2px;
margin-left:7px;
margin-right:5px;
border-left: 2px solid white;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.double_bar_b {
margin-top:2px;
border-left: 2px solid black;
border-right: 5px solid black;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.double_bar_w {
margin-top:2px;
border-left: 2px solid white;
border-right: 5px solid white;
min-width:1px;  /*important*/
width:2px;
height:42px;
}

div.ly {
border:0px solid green;
height:40px;
vertical-align:bottom;
}
span.ly {  /* for span of each lyrics character */
position:absolute;
border:0px solid green;
/*font-family: assign by javascript*/
/*font-size: 36px; assign by javascript*/
}
.freetext {
border:0px solid green;
/*font-family: assign by javascript*/
/*font-size: 36px; assign by javascript*/
line-height: 40px;
}
