#cursor_div, .cursor_div {
  position:absolute;
  width:0px;
  height:50px;
  border:1px solid red;
  left:2000px;
}



/* slur curve */
td.tdcur {
  font-size:14px;
  line-height:0px;
  height:2px;
}

div.cur {
  height:8px;  /* decides curvature and height at the same time */
  line-height:8px; 
  border-radius: 50%/10px 10px 0 0;
  border-bottom-width: 0px !important;
  position:relative;
  top:7px;
}
.cur_long {
  margin-left:5%;
  width:90%;
}
.cur_short {
  margin-left:15px;  /*20%;*/
  margin-right:15px;
}
.cur_b {
  border:solid 2px black;
  border-color:black transparent transparent;
}
.cur_w {
  border:solid 2px white;
  border-color:white transparent transparent;
}




table.nt {
border: 0px solid blue;
border-collapse: separate;
border-spacing: 0 0px;
padding-bottom:10px;  /* margin between note and lyrics */
/*font-family: assigned by javascript*/
/*font-size: 26px; assigned by javascript*/
font-weight: normal;
}

tr.slur {
/* dummy class for getElementsByClassName */
}
td {
border: 0px solid red;  /*transparent will break up underline */
line-height: 15px;
text-align:center;
border-spacing: 0px;
padding: 0px;  /*must be set explicitly*/
vertical-align:top;
height:42px;
}

.chordtabline, .lyricstabline {
/* dummy class for getElementsByClassName */
position:absolute;
line-height: 10px;  /* important for different arrow symbols to align */
height: 10px;
}
.chordtabline {
bottom: 50px;
}
.lyricstabline {
bottom: 2px;
}
.tab {
border:0px solid green;
position:absolute;
font-size:8px;
color:red;
font-family:arial;
}


/*td.sp2 {
font-size: 8px;
min-width: 8px;
}*/

td.sp4 {
width: 10px;
}

div {
border: 0px solid green;
min-width: 10px;
}


/* note layout

  +------+  +------+
  | · hi |  | · hi |
  +------+  +------+
  +------+  +------+
  | note |  | note |
  +------+  +------+
  ========  ========
  |  t8  |  |      |
  ........  |  t16 |
  +------+  ========
  | · lo |  +------+
  +------+  | · lo |
            +------+

*/

.hi {
height:12px;
line-height: 0px;
vertical-align:bottom;
}
.lo {
border:0px solid red;
height:0px;
line-height: 0px;
vertical-align:bottom;
}

.n {
height: 20px;
line-height: 20px;
vertical-align:bottom;
min-width:25px;
}

/* for # and b */
.nsharp, .nflat, .nnatural {
height: 20px;
line-height: 20px;
vertical-align:bottom;
font-size: 18px;
border:0px solid blue;
font-family: arial;
width:4px;
}
.nflat, .nnatural {
position:relative;
right:4px;
}


.dot {
height: 20px;
line-height: 18px;
vertical-align:bottom;
}
.t4 {
height: 0px;
vertical-align:bottom;
border-top: 0px solid white;
border-bottom: 0px solid white;
}
.t8_b {
height: 0px;
vertical-align:bottom;
border-top: 2px solid black;
border-bottom: 0px solid black;
}
.t8_w {
height: 0px;
vertical-align:bottom;
border-top: 2px solid white;
border-bottom: 0px solid white;
}
.t16_b {
height: 2px;
vertical-align:bottom;
border-top: 2px solid black;
border-bottom: 2px solid black;
}
.t16_w {
height: 2px;
vertical-align:bottom;
border-top: 2px solid white;
border-bottom: 2px solid white;
}


.bar_b {
margin-top:2px;
margin-left:7px;
margin-right:5px;
border-left: 2px solid black;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.bar_w {
margin-top:2px;
margin-left:7px;
margin-right:5px;
border-left: 2px solid white;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.double_bar_b {
margin-top:2px;
border-left: 2px solid black;
border-right: 5px solid black;
min-width:1px;  /*important*/
width:2px;
height:42px;
}
.double_bar_w {
margin-top:2px;
border-left: 2px solid white;
border-right: 5px solid white;
min-width:1px;  /*important*/
width:2px;
height:42px;
}

div.lyrics_div, div.chord_div {  /* lyrics div, chord div */
position:relative;
border:0px solid green;
vertical-align:bottom;
}
span.ly {  /* for span of each lyrics character */
position:absolute;
border:0px solid green;
/*font-family: assigned by javascript*/
/*font-size: 36px; assigned by javascript*/
}
.freetext {
border:0px solid green;
/*font-family: assigned by javascript*/
/*font-size: 36px; assigned by javascript*/
/*line-height: 40px; assigned by javascript */
}
.cursor {
border:1px solid red;
width: 4px;
height: 10px;
}
